/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";

.btn-row {
  display: flex;
  justify-content: space-between;
}
.invalid-feedback-custom {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
