/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";

.btn-row {
  display: flex;
  justify-content: space-between;
}
.invalid-feedback-custom {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.elevated-container {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.header-row {
  display: flex;
  justify-content: flex-end;
}

.toggle-button {
  margin-right: 10px;
}
