
<h1>Reset password</h1>

<form class="grid-wrapper" #f="ngForm" *ngIf="stepOne">

  <div class="form-group first-row">
    <label for="name">Username</label>
    <input id="name" type="text" name="name" class="form-control" required [(ngModel)]="user.name">
  </div>

  <div class="form-group second-row">
    <label for="email">Email</label>
    <input id="email" type="text"
           name="email"
           class="form-control"
           email required
           [(ngModel)]="user.email"
           [ngClass]="{ 'is-invalid': nameEmailMismatch || notFound }">
    <div class="invalid-feedback-custom">
      <div *ngIf="nameEmailMismatch">Provided email doesn't belong to current user</div>
      <div *ngIf="notFound">User not found</div>
    </div>
  </div>

  <div class="btn-row third-row">
    <button class="btn btn-primary" [disabled]="f.invalid || loading" (click)="submit()">Reset</button>
  </div>

</form>

<form class="grid-wrapper" #f="ngForm" *ngIf="stepTwo">

  <div class="form-group first-row">
    <label for="code">Verification code</label>
    <input id="code" type="password" name="code" class="form-control" required [(ngModel)]="user.code">
    <div class="invalid-feedback-custom">
      <div *ngIf="invalidToken">Invalid Verification code</div>
    </div>
  </div>

  <div class="btn-row second-row">
    <button class="btn btn-primary"  [disabled]="f.invalid || loading" (click)="send()">Send</button>
  </div>

</form>

<form class="grid-wrapper" #f="ngForm" *ngIf="stepThree">

  <div class="form-group first-row">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" class="form-control" required [(ngModel)]="user.password">
  </div>

  <div class="form-group second-row">
    <label for="confirmPassword">Password</label>
    <input id="confirmPassword" type="password" name="confirmPassword" class="form-control" required [(ngModel)]="user.confirmPassword">
    <div class="invalid-feedback-custom">
        <div *ngIf="passwordMismatch">
          Passwords don't match
        </div>
    </div>
  </div>

  <div class="btn-row third-row">
    <button class="btn btn-primary"  [disabled]="f.invalid || loading" (click)="reset()">Reset</button>
  </div>
</form>


<div class="complete" *ngIf="stepFour">
  <p>
    Your password has been reset
  </p>
  <a class="btn btn-primary" routerLink="/login">Login</a>
</div>
