<h1 class="title">Dashboard</h1>

<div class="content grid-wrapper">

  <div class="chart-1">
    <div class="elevated-container">
      <a class="toggle-button" data-toggle="collapse" data-target="#doughnut">
        <div class="header-row">
          <i class="fa  fa-2x fa-caret-down"></i>
        </div>
      </a>
      <div id="doughnut" aria-expanded="true" class="collapse show">
        <p-chart type="doughnut" [data]="data"></p-chart>
      </div>
    </div>
  </div>

  <div class="chart-2">
    <div class="elevated-container">
      <a class="toggle-button" data-toggle="collapse" data-target="#column">
        <div class="header-row">
          <i class="fa  fa-2x fa-caret-down"></i>
        </div>
      </a>
      <div id="column" aria-expanded="true" class="collapse show">
        <p-chart type="bar" [data]="barData"></p-chart>
      </div>

    </div>
  </div>

  <div class="chart-3">
    <div class="elevated-container">
      <a class="toggle-button" data-toggle="collapse" data-target="#radar">
        <div class="header-row">
          <i class="fa fa-2x fa-caret-down"></i>
        </div>
      </a>
      <div id="radar" aria-expanded="true" class="collapse show">
        <p-chart type="radar" [data]="radarData"></p-chart>
      </div>

    </div>
  </div>

  <div class="chart-4">
    <div class="elevated-container">
      <a class="toggle-button" data-toggle="collapse" data-target="#line">
        <div class="header-row">
          <i class="fa  fa-2x fa-caret-down"></i>
        </div>
      </a>
      <div id="line" aria-expanded="true" class="collapse show">
        <p-chart type="line" [data]="lineData"></p-chart>
      </div>
    </div>

  </div>

  <div class="chart-5">
    <div class="elevated-container">
      <a class="toggle-button" data-toggle="collapse" data-target="#pie">
        <div class="header-row">
          <i class="fa  fa-2x fa-caret-down"></i>
        </div>
      </a>
      <div id="pie" aria-expanded="true" class="collapse show">
        <p-chart type="pie" [data]="pieData"></p-chart>
      </div>
    </div>

  </div>

</div>
